.my-sidebar{
  /* background: linear-gradient( 30deg, #2b5158 15%, #2b5158, #1a5e86, #13678f 75% ) !important; */
  background: linear-gradient(30deg, #56644bc2 25%,  #3a5d6ead 75%) !important;
}


.my-navbar-brand {
  color: #5a8f13 !important;
  font-size: 1.5rem !important;
}

.my-footer{
  background: linear-gradient(30deg, #13678f 25%, #13678f 75%);
  position: absolute;
  bottom: 0;
}

/* .container {
  padding-top: 4px;
} */

.my-container {
  margin-bottom: 0rem !important;
  background-color: #fff !important;
  padding: 1rem 1rem;
}

.my-content {
  position: relative; 
  height: calc(100vh - 50px);
}

.my-semantic-container {
  padding: 0px !important;
  width: 100% !important;

}



